* {
  margin: 0;
  padding: 0;
}
/* .topbar {
  background-color: black;
  height: 100px;
}
.search {
  background-color: gray;
  height: 200px; */
}
nav {
  position: relative;
  display: inline-block;
  background-color: white;
  height: 200px;
}
.menu {
  margin-left: 800px;
}
#logo {
  float: left;
  position: relative;
  display: inline-block;
  margin-left: 25%;
  margin-top: 15px;
}
nav {
  content: "";
  clear: both;
  display: table;
}
/* ul {
  width: auto;
  position: relative;
  display: inline;
  margin-left: 60%;
} */
li {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-left: 50px;
  font-size: 15px;
  font-weight: bold;
}

.primary {
  background-color: #009fb9;
}
#ufficio {
  position: relative;
  background-image: url("image/casa.png");
  width: 50%;
  left: 50%;

}
.cubo {
  float: left;
  width: 50%;
  margin-left: 35%;
  margin-top: 100px;
  text-align: center;
}
.cubo{
  content: "";
  clear: both;
  display: table;
}
.twocol {
  float: left;
  width: 60%;
  margin-left: 35%;
  margin-top: 5%;
}
#libro {
  float: left;
}
.crm {
  float: left;
  margin-left: 10%;
}
.twocol {
  content: "";
  clear: both;
  display: table;
}
.threecol {
  float: left;
  width: 70%;
  margin-left: 30%;
  margin-top: 5%;


}
.col {
  float: left;
  margin-left: 5%;
}
.threecol {
  content: "";
  clear: both;
  display: table;
}
.blockone {
  content: "";
  clear: both;
  display: table;
}
.blu {
  background-color: #00b1b0;
  margin: auto;
  text-align: center;
  padding-top: 5%;
  }
.tabella {
  margin-left: 30%;
  margin-top: 15%;
  border-collapse: collapse;
  /* border: 2px solid black; */

}
.bordiup td{
  border: 2px solid white;
  border-top: 0;
  /* border-bottom: 0; */
  }
.bordidown td{
  border: 2px solid white;
  border-bottom: 0;
}
